@import "tailwindcss";

html,
body {
  background: #000;
  color: #fff;
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
}

body{
background:
radial-gradient(circle at top,rgba(0,210,255,.15),transparent 40%),
radial-gradient(circle at right,rgba(37,99,235,.12),transparent 35%),
#050816;
}
